In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("startup.csv",encoding='latin1')
df.head()

,permalink,name,homepage_url,category_list,market,funding_total_usd,status,country_code,state_code,region,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,/organization/waywire,#waywire,http://www.waywire.com,|Entertainment|Politics|Social Media|News|,News,"17,50,000",acquired,USA,NY,New York City,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,/organization/tv-communications,&TV Communications,http://enjoyandtv.com,|Games|,Games,"40,00,000",operating,USA,CA,Los Angeles,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,/organization/rock-your-paper,'Rock' Your Paper,http://www.rockyourpaper.org,|Publishing|Education|,Publishing,"40,000",operating,EST,NaN,Tallinn,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,/organization/in-touch-network,(In)Touch Network,http://www.InTouchNetwork.com,|Electronics|Guides|Coffee|Restaurants|Music|i...,Electronics,"15,00,000",operating,GBR,NaN,London,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,/organization/r-ranch-and-mine,-R- Ranch and Mine,NaN,|Tourism|Entertainment|Games|,Tourism,"60,000",operating,USA,TX,Dallas,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
df.columns

Index(['permalink', 'name', 'homepage_url', 'category_list', ' market ',
       ' funding_total_usd ', 'status', 'country_code', 'state_code', 'region',
       'city', 'funding_rounds', 'founded_at', 'founded_month',
       'founded_quarter', 'founded_year', 'first_funding_at',
       'last_funding_at', 'seed', 'venture', 'equity_crowdfunding',
       'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant',
       'private_equity', 'post_ipo_equity', 'post_ipo_debt',
       'secondary_market', 'product_crowdfunding', 'round_A', 'round_B',
       'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H'],
      dtype='object')

In [14]:
import pandas as pd
from datetime import datetime
import numpy as np

# Remove extra spaces from column names (both leading, trailing, and internal)
df.columns = df.columns.str.strip().str.replace(r'\s+', '_', regex=True)

# Print the actual column names to verify cleaning
print("Column names after cleaning:")
print(df.columns.tolist())

# List the columns you want to drop
columns_to_drop = ['permalink', 'homepage_url', 'category_list', 'founded_month', 'founded_quarter']

# Drop only the columns that exist in the DataFrame
df = df.drop(columns=[col for col in columns_to_drop if col in df.columns], axis=1)

# Convert 'founded_at' to datetime format
df['founded_at'] = pd.to_datetime(df['founded_at'], errors='coerce')

# Now that 'founded_at' is a datetime object, format it as 'YYYY-MM-DD'
df['founded_at'] = df['founded_at'].dt.strftime('%Y-%m-%d')

# Ensure 'funding_total_usd' is a string before replacing non-numeric values
df['funding_total_usd'] = df['funding_total_usd'].astype(str).str.replace(',', '')

# Replace non-numeric values and convert to float
df['funding_total_usd'] = pd.to_numeric(df['funding_total_usd'].replace(' -   ', np.nan), errors='coerce')

# Remove duplicate rows, if any
df = df.drop_duplicates()

df.head()

Column names after cleaning:
['name', 'market', 'funding_total_usd', 'status', 'country_code', 'city', 'funding_rounds', 'founded_at', 'founded_year', 'first_funding_at', 'last_funding_at', 'seed', 'venture', 'equity_crowdfunding', 'undisclosed', 'convertible_note', 'debt_financing', 'angel', 'grant', 'private_equity', 'post_ipo_equity', 'post_ipo_debt', 'secondary_market', 'product_crowdfunding', 'round_A', 'round_B', 'round_C', 'round_D', 'round_E', 'round_F', 'round_G', 'round_H']

,name,market,funding_total_usd,status,country_code,city,funding_rounds,founded_at,founded_year,first_funding_at,...,secondary_market,product_crowdfunding,round_A,round_B,round_C,round_D,round_E,round_F,round_G,round_H
0,#waywire,News,1750000.0,acquired,USA,New York,1.0,2012-06-01,2012.0,2012-06-30,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,&TV Communications,Games,4000000.0,operating,USA,Los Angeles,2.0,NaN,NaN,2010-06-04,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,'Rock' Your Paper,Publishing,40000.0,operating,EST,Tallinn,1.0,2012-10-26,2012.0,2012-08-09,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,(In)Touch Network,Electronics,1500000.0,operating,GBR,London,1.0,2011-04-01,2011.0,2011-04-01,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,-R- Ranch and Mine,Tourism,60000.0,operating,USA,Fort Worth,2.0,2014-01-01,2014.0,2014-08-17,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
# Drop rows with NaN values from the entire DataFrame
df = df.dropna()

# Check for missing values in each column after dropping NaN rows
missing_values = df.isnull().sum()

# Print the missing values for each column
print("Missing values in each column after dropping rows with NaN values:")
print(missing_values)

df.shape

Missing values in each column after dropping rows with NaN values:
name                    0
market                  0
funding_total_usd       0
status                  0
country_code            0
city                    0
funding_rounds          0
founded_at              0
founded_year            0
first_funding_at        0
last_funding_at         0
seed                    0
venture                 0
equity_crowdfunding     0
undisclosed             0
convertible_note        0
debt_financing          0
angel                   0
grant                   0
private_equity          0
post_ipo_equity         0
post_ipo_debt           0
secondary_market        0
product_crowdfunding    0
round_A                 0
round_B                 0
round_C                 0
round_D                 0
round_E                 0
round_F                 0
round_G                 0
round_H                 0
dtype: int64

(27970, 32)